html{
    visibility: hidden;
}
body{
    background-color: rgba(65, 105, 225, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
/*estilo da barra de menu em cima do site*/
#logo {
    padding-left: 1em;
    padding-right: 15em;
    font-family: "Yellowtail", cursive;
    color: #ffffff;
}
nav {
    position: relative;
    border: solid transparent 2px;
    margin: -1em -1em 1.5em -0.5em;
    padding: 0.5em;
    display: flex;
    align-items: right;
    background-color: royalblue;
}
li {
    margin: 0em 2em;
    padding: 0;
    float: right;
    list-style-type: none;
}
li a {
    font-family: "Kumbh Sans", cursive;
    color: white;
    text-decoration: none;

}
ul {
    position: relative;
    padding: 1.2em;
    margin: 0.5em;
}
/* fim da navegação*/
/*inicio da primeira sessão do site section sobre*/
section#sobre {
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: -1.3rem;
    background-image: url("/img/lentecam.jpg");
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section#sobre p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    font-style: bold;
    font-weight: 700;
    color: white;
}
#subtitle1 {
    padding-top: 1em;
    color: white;
    text-align: center;
    
}
section#sobre button{
    font-family: "Khumbh Sans", serif;
    position: relative;
    float: right;
    margin-right: 2rem;
    margin-top: 11rem;
    padding: 10px;
    border: transparent;
    background-color: royalblue;
    font-family: serif;
    font-size: 150%;
    color: white;

}
/*fim da sec1 section sobre*/
/*inicio da sec2 section de fotos*/
section#fotos h2{
    position: relative;
    font-family: "Khumbh Sans", serif;
    font-size: 4em;
    margin-top: 0rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 2%;
    background-color: royalblue;
    color: white;
}
section#fotos {
    padding-top: 1%;
}
h2{
    text-align: center;
}
img{
    max-width: 30em;
}
.card {
    position: relative;
    display: inline-flex;
    align-items: right;
    padding-left: 1rem;
    padding-top: 1rem;

}
img#casal {
    padding-left: 5rem;
    margin: 1em;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;

}
img#casal:hover {
    margin: 2.5em;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
img#festa {
    float: left;
    margin-right: 2em;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
img#festa:hover{
    margin: 2.5em;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
img#paisagen {
    padding-left: 5em;
    margin: 1em;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
img#paisagen:hover{
    margin: 2.5em;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
img#flores {
    float: left;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
img#flores:hover{
    margin: 2.5em;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
/*fim de section de fotos*/
/*inicio das section serv*/
section#serv h2{
    position: relative;
    font-family: "Khumbh Sans", serif;
    font-size: 4em;
    margin-top: 0rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 2%;
    background-color: royalblue;
    color: white;
}
div#tabela{
    position: relative;
    margin-top: 5em;
    margin-left: 40%;
}
table#tableserv {
    padding: 20px;
    text-align: center;

}
.linhatab {
    font-size: 1.7rem;
    font-family: "Khumbh Sans", serif;
    color: whitesmoke;
    background-color: rgba(65, 105, 225, 0.6);
}
th {
    padding: 1.2em;
}
td {
    padding: 1.2em;
}
/* fim da section serv*/
/* inicio da section contato*/
section#contato h2{
    text-align: center;
    position: relative;
    font-family: "Khumbh Sans", serif;
    font-size: 4em;
    margin-top: 0rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 2%;
    background-color: royalblue;
    color: white;
}
div#cell {
    text-align: center;
    padding: 2px;
    background-color: rgba(65, 105, 225, 0.1);
    color: white;
}
#cellicon {
    padding: 3%;
}
div#email {
    text-align: center;
    color: white;
    padding: 2px;
    background-color: rgba(65, 105, 225, 0.1);
}
/* fim da sectrion contato*/